@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500&family=Rethink+Sans:ital@1&family=Ubuntu:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.nav{
    height: 70px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
}

.nav img{
    height: 45px;
}

.sec-2{
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 15px;
}

.sec-3{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 12px;
}

.sec-3 button{
    color: black;
    background-color: white;
    padding: 10px 6px;
    font-weight: 700;
}

main{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin: 35px;
    text-align: center;
}

.page1{
    height: 100vh;
    width: 100%;
}

main h1{
    font-size: 70px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 span{
    background-color: red;
    border-radius: 12px;
    font-size: 20px;
    padding: 4px 10px;
    align-items: center;
    margin: 0 12px;
}

.page1 h5{
    margin: 40px 0;
}

.left-img{
    height: 200px;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 12%;
}

.right-img{
    height: 200px;
    border-radius: 15px;
    position: absolute;
    bottom: 5%;
    right: 12%;
}